In [46]:
import pandas as pd
import os
import glob

#csv_file_list = [os.path.basename(x) for x in glob.glob(os.path.join("Sales_Data/", "*.csv"))]
csv_file_list = os.listdir('Sales_Data/')

data_frames = []

for filename in csv_file_list:
    data_frames.append(pd.read_csv('Sales_Data/' + filename))
    
merged_df = pd.concat(data_frames)

merged_df = merged_df.dropna().reset_index(drop=True)

merged_df.head()
#print(merged_df)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
2,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
3,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"