# Sales Analysis

#### Import necessary libraries

In [1]:
import pandas as pd
import os
import glob

#### Task 1: Merge the 12 months of sales data into a single CSV file

In [2]:
#csv_file_list = [os.path.basename(x) for x in glob.glob(os.path.join("Sales_Data/", "*.csv"))]
csv_file_list = os.listdir('Sales_Data/')

all_months_data = pd.DataFrame()

for filename in csv_file_list:
    df = pd.read_csv("./Sales_Data/" + filename)
    all_months_data = pd.concat([all_months_data, df])
    
all_months_data.to_csv("all_data.csv", index=False)

#### Read in updated data frame

In [3]:
all_data = pd.read_csv("all_data.csv")
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

### Clean up the data!

#### Drop rows of NAN

In [4]:
# Check for nan rows
#nan_df = all_data[all_data.isna().any(axis=1)]
#nan_df.head()

#nan_df = all_data.isnull().values.any() # will return True if any NAN values exist in the df
nan_df = all_data.isnull()
print(nan_df) # will show all rows that are 'True' for NAN values

        Order ID  Product  Quantity Ordered  Price Each  Order Date  \
0          False    False             False       False       False
1           True     True              True        True        True
2          False    False             False       False       False
3          False    False             False       False       False
4          False    False             False       False       False
5          False    False             False       False       False
6          False    False             False       False       False
7          False    False             False       False       False
8          False    False             False       False       False
9          False    False             False       False       False
10         False    False             False       False       False
11         False    False             False       False       False
12         False    False             False       False       False
13         False    False             False       False       False
14         False    False             False       False       False
15         False    False             False       False       False
16         False    False             False       False       False
17         False    False             False       False       False
18         False    False             False       False       False
19         False    False             False       False       False
20         False    False             False       False       False
21         False    False             False       False       False
22         False    False             False       False       False
23         False    False             False       False       False
24         False    False             False       False       False
25         False    False             False       False       False
26         False    False             False       False       False
27         False    False             False       False       False
28         False    False             False       False       False
29         False    False             False       False       False
...          ...      ...               ...         ...         ...
186820     False    False             False       False       False
186821     False    False             False       False       False
186822     False    False             False       False       False
186823     False    False             False       False       False
186824     False    False             False       False       False
186825     False    False             False       False       False
186826      True     True              True        True        True
186827     False    False             False       False       False
186828     False    False             False       False       False
186829     False    False             False       False       False
186830     False    False             False       False       False
186831     False    False             False       False       False
186832     False    False             False       False       False
186833     False    False             False       False       False
186834     False    False             False       False       False
186835     False    False             False       False       False
186836     False    False             False       False       False
186837     False    False             False       False       False
186838     False    False             False       False       False
186839     False    False             False       False       False
186840     False    False             False       False       False
186841     False    False             False       False       False
186842     False    False             False       False       False
186843     False    False             False       False       False
186844     False    False             False       False       False
186845     False    False             False       False       False
186846     False    False             False       False       False
186847     False    False             False       False       False
186848     False    False             False       False       False
186849     False    False             False       False       False

        Purchase Address
0                  False
1                   True
2                  False
3                  False
4                  False
5                  False
6                  False
7                  False
8                  False
9                  False
10                 False
11                 False
12                 False
13                 False
14                 False
15                 False
16                 False
17                 False
18                 False
19                 False
20                 False
21                 False
22                 False
23                 False
24                 False
25                 False
26                 False
27                 False
28                 False
29                 False
...                  ...
186820             False
186821             False
186822             False
186823             False
186824             False
186825             False
186826              True
186827             False
186828             False
186829             False
186830             False
186831             False
186832             False
186833             False
186834             False
186835             False
186836             False
186837             False
186838             False
186839             False
186840             False
186841             False
186842             False
186843             False
186844             False
186845             False
186846             False
186847             False
186848             False
186849             False

[186850 rows x 6 columns]

In [5]:
all_data = all_data.dropna().reset_index(drop=True)
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
2,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
3,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"

#### Find 'Or' and delete it

In [6]:
temp_df = all_data[all_data['Order Date'].str[0:2] == 'Or']
temp_df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
517,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
1146,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
1152,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
2869,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
2884,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address

#### Filter out the data frame to delete problematic rows

In [11]:
all_data = all_data[all_data['Order Date'].str[0:2] != 'Or']

#### Convert columns to correct type

In [13]:
all_data['Quantity Ordered'] = pd.to_numeric(all_data['Quantity Ordered']) # make int
all_data['Price Each'] = pd.to_numeric(all_data['Price Each']) # make float

### Augment data with a month column

### Task 2: Add month column

In [12]:
all_data['Month'] = all_data['Order Date'].str[0:2]
all_data['Month'] = all_data['Month'].astype('int32')
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",4
1,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",4
2,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4
3,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4
4,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",4

### Task 3: Add a sales column

In [14]:
all_data['Sales'] = all_data['Quantity Ordered'] * all_data['Price Each']
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",4,23.90
1,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",4,99.99
2,176560,Google Phone,1,600.00,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4,600.00
3,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4,11.99
4,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",4,11.99